header {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #DDDDDD 1px solid;
}

span {
    font-family: "Akrobat";
    font-size: 16px;
}

img {
    width: 330px;
}

.formAutorization {
    height: 75%;
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px;
    font-family: "Akrobat";
}

.formAutorization > form {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.formAutorization > p {
    font-size: 14px;
}

.textInput {
    width: 100%;
    max-width: 400px;
}

.buttonInput {
    width: 100%;
    max-width: 400px;
}

.login_p {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #6d6d6d;
    padding-top: 30px;
    font-family: "Akrobat";
    font-size: 12px;
}

header > .login_p {
    cursor: pointer;
}

.registerButtonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-wrap: nowrap;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

.registerButtonWrapper > button:disabled { 
    border: none;
}

.textInfoCall {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Akrobat';
    font-size: 18px;
    text-wrap: balance;
    color: #6d6d6d;
}

.linkCall {
    text-decoration: none;
    color: #ff8d00;
    font-size: 26px;
    padding: 15px 10px;
    background: white;
    border-radius: 8px;
    margin: 10px 0px;
}