.main_header {
    height: 60px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Akrobat";
    position: fixed;
    top: 0;
    z-index: 10;
}


.subMenu_text {
    font-family: "Akrobat";
    font-size: 16px;
    padding: 0px;
    
}

.main_header > .header_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 60px;
    user-select: none; 
    font-weight: 500;
    background-color: white;
    border-bottom: 1px solid #c0c0c077;
}

.header_li:hover {
    background-color: #ce651a;
}

.header_li {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    width: 60px;
    background-color: #F47920;
    cursor: pointer;
    transition: all 0.3s linear;
}

.header_li_title {
    height: 100%;
    width: calc(100% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.header_li_title:hover {
    background-color: rgb(223, 223, 223);
}

.header_img {
    width: 30px;
    height: 30px;
}



  
  .header_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .account-menu {
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    overflow: hidden;
    z-index: 10;
    width: 200px;
    font-size: 16px;
  }
  
  .account-menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  .menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 12px 16px;
    width: 100%;
    transition: all 0.3s linear;
  }
  
  .menu-item-icon {
    margin-right: 8px;
    color: #757575;
  }
  
  .menu-link:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }