.wrapper_tiles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.tile {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #C0C0C0;
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.blocked {
    background-color: #dddddd;
    cursor: not-allowed;
}

.tile:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Тень при "поднятии" */
    transform: translateY(-3px); /* Поднимаем элемент вверх */
}

.blocked:hover {
    box-shadow: none;
    transform: none;
}

.new::after {
    content: "new";
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgb(68, 42, 42);
    background-color: rgb(149, 212, 55);
    width: 60px;
    text-align: center;
    height: 32px;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    animation: pulse-shadow 1.5s infinite;
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}


.tile > p {
    font-size: 24px;
    font-family: "Akrobat";
    font-weight: 300;
}

.tile > img {
    width: 90px;
    height: 90px;
}

.wrapper_tiles .tile {
    text-decoration: none;
    color: #6d6d6d;
}

 @media screen and (min-width: 850px) {
    .tile {
        flex: 1 1 30vw; 
        max-width: 30vw; 
        min-width: 20vw; 
    }

    .wrapper_tiles {
        flex-direction: row;
        justify-content: space-evenly; 
    }
}

@media screen and (min-width: 500px) and (max-width: 849px) {
    .tile {
        flex-grow: inherit;
        flex-shrink: inherit;
        flex-basis: 46vw;
        max-width: 48vw;
        min-width: 10vw;
    }

    .wrapper_tiles {
        flex-wrap: wrap;
        flex-direction: row; /* Плитки в строку */
        justify-content: space-evenly; /* Пространство между плитками */
    }
}

.helpWithJobs {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 13px;
    margin-bottom: 40px;
    background-color: #F47920;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* text-align: center; */
    display: flex;
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    animation: pulse-shadow 1.5s infinite;
    transition: all 0.3s ease-in-out;
}

.helpWithJobs:hover {
    background-color: #ce651a;
}