.wrapper_tiles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    position: relative;
    font-family: "Akrobat" !important;
}

.tile {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #C0C0C0;
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.blocked {
    background-color: #dddddd;
    cursor: not-allowed;
}

.tile:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Тень при "поднятии" */
    transform: translateY(-3px); /* Поднимаем элемент вверх */
}

.blocked:hover {
    box-shadow: none;
    transform: none;
}

.new::after {
    content: "новое";
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgb(68, 42, 42);
    background-color: rgb(149, 212, 55);
    width: 60px;
    text-align: center;
    height: 32px;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    animation: pulse-shadow 1.5s infinite;
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}


.tile > p {
    font-size: 24px;
    font-family: "Akrobat";
    font-weight: 300;
}

.tile > img {
    width: 90px;
    height: 90px;
}

.wrapper_tiles .tile {
    text-decoration: none;
    color: #6d6d6d;
}

 @media screen and (min-width: 587px) {
    .wrapper_tiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Устанавливаем минимальную ширину плитки */
        gap: 10px; /* Зазоры между плитками */
    }
}